@import "@/src/app/shortClasses.scss";

// components/SortOptions/style.scss

.sort-options-container {
  @include flex(center, flex-start);
  @include f-direction(column);
  width: fit-content;
  border-radius: 5px;
  background-color: var(--dark-grey);
  overflow: hidden;

  @include max-w-media(500px) {
    display: none;
  }

  .sort-options-title {
    @include flex(space-between, center);
    @include f-direction(row);
    background-color: var(--primary);
    width: calc(100% - 30px);
    padding: 9px 15px;
    border-radius: 5px;
    cursor: pointer;

    p {
      font-size: 14px;
      font-weight: 500;
    }
  }

  .sort-options-list {
    display: flex;
    max-height: 0;
    transition: max-height 0.3s ease;
    flex-direction: column;
    padding: 0 15px;
    background-color: var(--dark-grey);
    border-radius: 5px;
    overflow-y: auto;

    button {
      @include flex(flex-start, center);
      @include f-direction(row);
      padding: 10px 0 5px 0;
      gap: 5px;
      color: var(--white);
      font-weight: 300;
      text-wrap: nowrap;
      font-size: 14px;
      cursor: pointer;
    }

    &::-webkit-scrollbar {
      width: 0px;
      height: 1px;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
      background: var(--dark-grey);
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--grey);
      border-radius: 5px;
    }
  }

  &.open {
    .sort-options-list {
      max-height: 200px; // set your desired max height here
    }
  }
}

.sorting-modal-triger {
  display: none;

  @include max-w-media(500px) {
    @include flex(flex-start, center);
    @include f-direction(row);
    gap: 10px;
    cursor: pointer;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}

.sort-modal {
  display: none;

  @include max-w-media(500px) {
    display: block;
  }

  @include max-w-media(500px) {
    .rodal-mask {
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
    }

    .rodal-close {
      position: absolute;
      cursor: pointer;
      top: 15px;
      right: 15px;
      width: 20px;
      height: 20px;

      &::before,
      &::after {
        background: var(--white);
      }
    }

    .rodal-dialog {
      @include flex(flex-start, flex-start);
      @include f-direction(column);
      gap: 25px;

      position: absolute;
      left: 0;
      right: 0;
      bottom: calc(-100dvh + 270px);
      margin: auto;
      z-index: 500;
      padding: 15px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

      background-color: var(--black);

      width: 100%;
      box-sizing: border-box;

      .sort-options-title {
        font-size: 18px;
        font-weight: 600;
        text-align: left;
        color: var(--white);
      }

      .content {
        @include flex(flex-start, flex-start);
        @include f-direction(column);
        gap: 25px;

        width: 100%;

        .sort-options-list {
          @include flex(flex-start, flex-start);
          @include f-direction(column);
          gap: 15px;

          button {
            @include flex(flex-start, center);
            @include f-direction(row);
            gap: 5px;
            color: var(--white);
            font-weight: 300;
            text-wrap: nowrap;
            font-size: 14px;
            cursor: pointer;
          }
        }

        .btn-active {
          @include flex(center, center);
          width: 100%;
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
  }
}
