@import "@/src/app/shortClasses.scss";

.prompt-cart-rate-container {
  @include flex(center, center);
  @include f-direction(row);
  position: absolute;

  z-index: 5;

  bottom: 5px;
  left: 5px;

  gap: 5px;
  padding: 3px 5px;

  background-color: var(--dark-grey);
  color: var(--light-grey);

  border-radius: 5px;

  font-size: 14px;
  font-weight: 400;

  .icon {
    width: 16px;
    height: 16px;
  }
}
