@import "@/src/app/shortClasses.scss";

.page-settings {
  @include flex(flex-start, flex-start);
  @include f-direction(column);
  width: 100%;

  gap: 50px;

  .ai-filters-sort-search-container {
    @include flex(space-between, flex-end);
    @include f-direction(row);
    width: 100%;

    .ai-filters-search-container {
      @include flex(flex-start, flex-start);
      @include f-direction(column);
      gap: 20px;
      width: 100%;

      @include max-w-media(500px) {
        width: 100%;
      }
      .ai-search-container {
        width: 85%;

        @include max-w-media(500px) {
          width: 100%;
        }
      }

      .ai-filters-container {
        @include flex(space-between, flex-start);
        @include f-direction(row);

        gap: 35px;

        width: 100%;

        @include max-w-media(500px) {
          gap: 20px;

          .top-section {
            padding: 9px 15px;
          }
        }

        .left-side {
          @include flex(flex-start, flex-start);
          @include f-direction(row);
          gap: 10px;

          @include max-w-media(500px) {
            @include flex(space-between, flex-start);
            width: 100%;
          }

          .p-t-10 {
            padding-top: 10px;
          }
        }

        @include max-w-media(500px) {
          @include f-direction(column);
        }

        .right-side {
          @include flex(flex-start, flex-start);
          @include f-direction(row);

          gap: 15px;

          @include max-w-media(500px) {
            display: none;
          }
        }
      }
    }

    .filters-modile-trigger-sort-container {
      width: fit-content;

      @include max-w-media(500px) {
        @include flex(space-between, flex-start);
        @include f-direction(row);

        width: 100%;
      }

      .ai-filters-modal-trigger {
        display: none;

        @include max-w-media(500px) {
          @include flex(flex-start, flex-start);
          @include f-direction(row);

          gap: 10px;
        }
      }

      .ai-sort-container {
        @include flex(space-between, flex-start);
        @include f-direction(row);
      }
    }
  }
}

.ai-list-container {
  @include flex(flex-start, flex-start);
  @include f-direction(row);
  flex-wrap: wrap;
  gap: 25px 50px;
  width: 100%;

  min-height: calc(70dvh - 71px);

  @include max-w-media(500px) {
    @include flex(center, flex-start);
  }

  .ai-item {
    @include flex(center, center);
    @include f-direction(column);
    gap: 20px;

    position: relative;

    max-width: 290px;
    width: 100%;
    padding: 10px;

    background-color: var(--dark-grey);
    color: var(--white);

    border-radius: 15px;

    @include max-w-media(500px) {
      max-width: 450px;
    }

    .prev-img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 5px;
    }

    .content-box {
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: flex-start;
      width: 100%;

      .ai-title-box {
        @include flex(flex-start, center);
        @include f-direction(row);
        gap: 10px;

        .ai-name {
          font-size: 22px;
          font-weight: 600;
        }
      }

      .property-box {
        @include flex(flex-start, flex-start);
        @include f-direction(row);
        flex-wrap: wrap;
        gap: 5px;

        .property {
          font-size: 12px;
          font-weight: 300;
          padding: 3px 10px;
          border: 1px solid var(--primary);
          border-radius: 5px;
        }

        .property:nth-child(1) {
          border: 1px solid #3babeb;
        }
        .property:nth-child(2) {
          border: 1px solid #c4fb4e;
        }
        .property:nth-child(3) {
          border: 1px solid #ec76ff;
        }
        .property:nth-child(4) {
          border: 1px solid #868686;
        }
        .property:nth-child(5) {
          border: 1px solid #f6a78b;
        }
        .property:nth-child(6) {
          border: 1px solid #f5de34;
        }
      }
    }
  }
}

.filters-modal {
  display: none;

  @include max-w-media(500px) {
    display: block;
  }

  @include max-w-media(500px) {
    .rodal-mask {
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
    }

    .rodal-close {
      position: absolute;
      cursor: pointer;
      top: 25px;
      right: 25px;
      width: 20px;
      height: 20px;

      &::before,
      &::after {
        background: var(--white);
      }
    }

    .rodal-dialog {
      @include flex(space-between, flex-start);
      @include f-direction(column);

      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      z-index: 500;
      padding: 15px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

      background-color: var(--black);

      width: 100%;
      height: 100%;
      box-sizing: border-box;

      .modal-top-section {
        @include flex(flex-start, flex-start);
        @include f-direction(column);

        gap: 25px;
        width: 100%;

        .filters-title {
          font-size: 24px;
          font-weight: 600;
          text-align: left;
          color: var(--white);
        }

        .filters-container-modal {
          @include flex(flex-start, flex-start);
          @include f-direction(column);

          width: 100%;
          gap: 15px;

          .ai-filter-container {
            width: 100%;
            background-color: var(--black);

            .top-section {
              background-color: var(--black);
              padding: 9px 0;

              border-radius: 0;
              border-bottom: 1px solid var(--grey);

              .title {
                font-size: 18px;
                font-weight: 600;
              }

              .icon {
                width: 24px;
                height: 24px;
              }
            }

            .bottom-section {
              background-color: var(--black);
              gap: 0px;

              label {
                padding: 10px 0;
              }
            }
          }
        }
      }

      .modal-bottom-section {
        @include flex(flex-start, flex-start);
        @include f-direction(row);
        width: 100%;

        button {
          @include flex(center, center);
          width: 100%;
        }
      }
    }
  }
}
