@import "@/src/app/shortClasses.scss";

@include gradientAnimation;

.pleoader-pagination {
  max-width: 430px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background: linear-gradient(to right, var(--black), var(--grey));
  background-size: 200% 100%;
  animation: gradientAnimation 2s linear infinite;
}
