@import "@/src/app/shortClasses.scss";

.page-last-info-box-preloader {
  @include container;
  @include flex(flex-start, flex-start);
  @include f-direction(column);

  width: 100%;
  gap: 60px;
  padding-top: 60px;
  padding-bottom: 60px;

  @include max-w-media(500px) {
    gap: 25px;
    width: 100%;

    padding-top: 0px;
    padding-bottom: 0px;
    --container-side-padding: 0;

    .ai-list-container-preloader {
      @include flex(flex-start, center);
    }
  }
}
