@import "@/src/app/shortClasses.scss";

.prev-box {
  position: relative;
  cursor: pointer;

  .icon {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 62px;
    height: 62px;
    transition: ease-in-out 0.2s;

    &:hover {
      transform: scale(1.1);
      transition: ease-in-out 0.2s;
    }
  }
}

.youtube-modal {
  .rodal-mask {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
  }

  .rodal-dialog {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 101;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

    @include flex(flex-start, flex-start);
    @include f-direction(column);

    gap: 15px;

    max-width: 1370px;
    max-height: 800px;

    background-color: var(--black);

    iframe {
      border-radius: 10px;
    }

    .rodal-close {
      display: none;
    }
  }
}
