@import "./shortClasses.scss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --white: #fbfbfb;
  --dark-white: #d3d3d3;
  --black: #1b1b1b;
  --half-black: #242424;
  --light-grey: #acacac;
  --grey: #323232;
  --dark-grey: #242424;
  --primary: #6047df;
  --sub-primary: #8c75ff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--white);
  transition: 0.3s;
}

ul {
  list-style: none;
}

input[type="text"],
input[type="search"],
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--white);
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: none;
}

::placeholder {
  color: var(--light-grey);
  font-family: "Manrope", sans-serif;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--black);
  color: var(--white);
}

.container {
  @include container();
}

.btn-box {
  @include flex(flex-start, center);
  @include f-direction(row);
  gap: 12px;
}

.btn {
  padding: 10px 15px;
  display: flex;
  border-radius: 5px;
  transition: 0.3s;
  color: var(--white);

  border: 1px solid var(--black);

  font-size: 14px;
  font-weight: 500;

  &:hover {
    transition: 0.1s;
    -webkit-box-shadow: 0px 0px 5px 0px var(--primary);
    -moz-box-shadow: 0px 0px 5px 0px var(--primary);
    box-shadow: 0px 0px 5px 0px var(--primary);
  }

  a:hover {
    color: var(--white);
  }
}

.btn-active {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.btn-inactive:hover {
  transition: 0.1s;
  border: 1px solid var(--primary);
}

.page-title {
  font-size: 42px;
  font-weight: 600;
  text-align: left;
  width: 100%;

  @include max-w-media(500px) {
    font-size: 24px;
  }
}

.swiper {
  width: 100%;
  max-width: 100%;
}

.swiper-wrapper {
  width: 100%;
}
