@import "@/src/app/shortClasses.scss";

@include gradientAnimation;

.preloader-search {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  background: linear-gradient(to right, var(--black), var(--grey));
  background-size: 200% 100%;
  animation: gradientAnimation 2s linear infinite;
}
