@import "@/src/app/shortClasses.scss";

.custom-checkbox {
  display: inline-block;
  cursor: pointer;
}

.checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid var(--primary);
  border-radius: 5px;

  &.checked {
    @include flex(center, center);
    @include f-direction(row);

    background-color: var(--primary);
    border: 1px solid var(--primary);
  }
}
